* {
  margin: 0px;
  padding: 0px;
  font-size: Century;
}

body {
  background-image: url(A2.png);

}

#logo-img {
  margin-left: 0em;
  width: 150px;
  height: auto;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 40px;
  font-size: 16px;
}

.nav-list-item {
  margin-left: 7.5em;
  margin-right: 2.5em;
}

ul li {
  display: inline-flex;
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-input {
  margin: 2em;
  border: 2px solid rgb(242, 245, 247);
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(228, 215, 228);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.container{
  margin-left: 0em;
}

.header {
  margin-top: -4em;
  padding: 40px;
  text-align: center;
  background: indigo;
  color: white;
  font-size: 30px;
}