$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';



.navbar {
    background-color:#31326F;
    color: #DBF6E9;
    
}


.title {
    color: #31326F;
}

.level-1 {
    background-color: #FFD98E;
}

.level-2 {
    background-color: #F1FFAB;
}

.level-3 {
    background-color: #FFC93C;
}

body {
    background-color: #DBF6E9;
}

.checkbox {
    background-color: #31326F;
}

.card {
    background-color: #9DDFD3;
}

.link {
    color: #DBF6E9;
}

.link:hover {
    color: #DBF6E9;
    text-decoration: none;
}

.login-btn {
    background-color: #31326F;
    color: #DBF6E9;
}
.login-btn:hover {
    background-color: #31326F;
    color: #DBF6E9;
}

// body{
//     background-image: url();
//     // background-color: #DBF6E9;
//     // height: 100vh;
//     background-size: cover; 
//     // background-position: center;
//     // min-height: 100px;
// }

// #Region "About Affirmly" Pop-Up on Login Page
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
// #EndRegion "About Affirmly" Pop-Up on Login Page